.nav {
	position: absolute;
	width: 100%;
	z-index: 10;
}

.headline {
	color: white;
}


.primary-background {background-color:#2ba6cb !important;}

/* Hide Google Stuff */
.gmnoprint {display:none !important}

.header-logo {
    font-size:3em;
    text-align:left;
    margin-top: 22px;
}

.header-nav {
    text-align:right;
}

.white-button {
	margin-top: 20px;
	display: inline-block;
	background: transparent;
	padding: 21px;
	border: 2px solid white;
	color: white;
	font-family: "frontage_regular";
	font-size: 1em;
	transition: all .5s;
}

.white-button:hover {
	background: white;
	color: black;
}

.white-button-inv {
	margin-top: 20px;
	display: inline-block;
	background: white;
	padding: 20px;
	border: 2px solid white;
	color: black;
	font-family: "frontage_regular";
	font-size: 1em;
	transition: all .5s;
}

.white-button-inv:hover {
	background: transparent;
	color: white;
}

footer {
	background: #FFA451;
	text-align: center;
	padding: 30px;
}

footer img {
	margin: 3em auto;
}

footer .quote {
	font-size: 1.1em;
}

footer .quote-author {
	font-size: .6em;
	margin-bottom: 60px;
}

footer .footer-text {
	font-size: .4em;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}