.map {
    z-index:-1;
    height: 20em;
}


.main-content, .side-content {

}

.stl-image {
    width:100%;
}

.printer-list-heading {
    font-size:2em;
    padding:.5em;
    background:#abebfb
}

.printer-listing:nth-child(even) {
    background-color:#e9e9e9
}
.printer-listing:hover, .printer-listing-selected {
    background-color:#ddd
}

.printer-listing {
    padding:2em;
    border-top:1px solid #eee;
    min-height:7em;
}

.printer-name {
    font-size:2em;
}

.printer-rating {
    color:gold;
}

.printer-price {
    color:green
}

.printer-detail-selfie-image {
    width:100%;
    height:10em;
}

.slidesjs-navigation, .printer-detail-selfie-caption {
    color:black;
    font-weight:bold;
    background:#eee;
    padding:.4em;
    text-align:center;
}
.slidesjs-navigation:hover {
    background:#abebfb;
    color:#fff;
}

.slidesjs-pagination {
    display:none;
}

.printer-review-header {
    font-size:1.5em;
    display:none;
}

.printer-review {
    padding:1em 5em;
}

.printer-review-name {
    font-weight:bold
}
.printer-review-rating {
    text-align:right;
}



.printer-conversation-message-desc {
    padding:.5em;
    padding-top:2em;
}

.printer-conversation-order {
    font-size:1.5em;
    font-weight:bold;
}

.inline-list {
    font-weight: bold;
}

.nav {
    background: #232323;
    height: 60px;
    display: inline-block;
}
 
.nav li {
    float: left;
    list-style-type: none;
    position: relative;
}

.nav li a {    
    color: white;
    display: block;
    line-height: 60px;
    padding: 0 26px;
    text-decoration: none;
    border-left: 1px solid #2e2e2e;
    
}
.nav li a:hover {
    background-color: #2e2e2e;
}
 
#settings a {
    padding: 18px;
    height: 24px;
    font-size: 10px;
    line-height: 24px;
}
#options a{
    border-left: 0 none;
}
#options>a {
    background-image: url(triangle.png);
    background-position: 85% center;
    background-repeat: no-repeat;
    padding-right: 42px;
}
.subnav {
    visibility: hidden;
    position: absolute;
    top: 110%;
    right: 0;
    width: auto;
    height: auto;
    opacity: 0;
    transition: all 0.1s;
    background: #232323;
}
.subnav li {
    float: none;
}
.subnav li a {
    border-bottom: 1px solid #2e2e2e;
}
#options:hover .subnav {
    visibility: visible;
    top: 100%;
    opacity: 1;
}
