.gmnoprint {display:none !important}

.header-logo {
    font-size:3em;
    text-align:left;
    font-family: 'Fauna One', serif;
}

.header-nav {
    text-align:right;
}

.map {
    z-index:-1;
    height: 20em;
}


.main-content, .side-content {

}

.stl-image {
    width:100%;
    height:20em;
    border:1px solid black;
}
.printer-list-heading {
    font-size:2em;
    padding:.5em;
    background:#abebfb
}

.printer-listing:nth-child(even) {
    background-color:#efefef
}

.printer-listing {
    padding:2em;
    border-top:1px solid #eee;
    height:7em;
}

.printer-name {
    font-size:2em;
}

.printer-rating {
    color:gold;
}

.printer-price {
    color:green
}