.map {
    z-index:-1;
    height: 20em;
}


.main-content, .side-content {

}

.header-nav {
    font-family: 'frontage_regular';
    font-size: .8em;
}
.stl-image {
    width:100%;
}

.printer-list-heading {
    font-size:2em;
    padding: 1em;
    background: #FFA451;
    color: white;
    margin-bottom: 2px;
    margin-top: 2px;
}

.printer-listing:nth-child(even) {
    background-color: #6aae60
}
.printer-listing:hover, .printer-listing-selected {
    background-color: #69a160;
}

.printer-listing {
    padding:2em;
    border-bottom: 2px solid white;
    min-height:7em;
    background: #7EC074;
}


.printer-name {
    font-size: 1.8em;
    color: white;
    font-family: "frontage_regular";
    letter-spacing: -8px;
    position: relative;
    left: -8px;
    margin-bottom: 8px;
}

.printer-description {
    color: white;
}

.printer-rating {
    color:white;
}

.printer-price {
    color:white;
    font-size: 1.2em;
}

.printer-list .printer-details {
    margin-top: 20px;   
}

.printer-detail-selfie-image {
    width:100%;
    height:10em;
}

.slidesjs-navigation, .printer-detail-selfie-caption {
    font-weight:bold;
    background: transparent;
    padding:.4em;
    text-align:center;
    border: 2px solid white;
    color: white;
}
.slidesjs-navigation:hover {
    background:#abebfb;
    color:#fff;
}

.slidesjs-pagination {
    display:none;
}

.printer-review-header {
    font-size:1.5em;
    display:none;
}

.printer-review {
    padding:1em 5em;
}

.printer-review-name {
    font-weight:bold
}
.printer-review-rating {
    text-align:right;
}

.printer-conversation-message-desc {
    padding:.5em;
    padding-top:2em;
}

.printer-conversation-order {
    font-size:1.5em;
    font-weight:bold;
}

.inline-list {
    font-weight: bold;
}

.f-dropdown {
    margin-top: 2em;
    margin-left: 1em;
}

.sort-dropdown {
    padding: 1em;
    font-size:1em;
    display: inline-block;
    display: block;
    background: #2CA6D9;
    border-bottom: 1px solid #9CDAFF;
    width: 100%;
    position: relative;
}

.sort-dropdown:hover {
    background: #9CDAFF;
    color: white;
}

.sort-dropdown .dropdown-img {
    margin-right: 15px;
    width: 32px;
    float: left;
    text-align: center;
}

.printer-print {
    padding: 10px;
    margin-top: 0;
}

.your-file {
    background: #FFA451;
    padding: 1em;
    border-bottom: 2px solid white;
    margin-bottom: 0;
}

.current-choice {
    display: inline-block;
    background: #3467A6;
    font-size: .7em;
    padding: 5px;
    position: absolute;
    top: 23px;
    right: -24px;
}