/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

/* GLOBAL STUFF */

/* Header */

input {display:inline-block !important}
.primary-background {background-color:#2ba6cb !important;}

.gmnoprint {display:none !important}

.header-logo {
    font-size:3em;
    text-align:left;
    font-family: 'Fauna One', serif;
}

.header-nav {
    text-align:right;
}
