/* GLOBAL STUFF */

/* Header */

input {display:inline-block !important}
.primary-background {background-color:#2ba6cb !important;}

.gmnoprint {display:none !important}

.header-logo {
    font-size:3em;
    text-align:left;
    font-family: 'Fauna One', serif;
}

.header-nav {
    text-align:right;
}
